.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.cuadrado {
  width: 200px;
  height: 200px;
  background-color: #1B065E;
  border: 2px solid #FF47DA;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;
}

.cuadrado:hover {
  background-color: #FFE347;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cuadrado.clicado {
  transform: rotate(45deg) scale(1.5);
}
